@import url(http://fonts.googleapis.com/css?family=Kodchasan);


/* Tab Content - menucool.com */
ul.tabs
{
background: url(img/bg2.jpg) repeat-x; width: 100%; margin: 0 auto; margin-bottom: 30px; box-shadow: 3px 3px 14px -3px rgba(0,0,0,0.60); border-radius: 10px; border: 1px solid #413834;

    padding: 15px 0px 15px 0;
    font-size: 0;
    list-style-type: none;
    text-align: center;
}
        
ul.tabs li
{
    display: inline;
    margin-right: 2px;/*distance between tabs*/
    text-align: center;
}

ul.tabs li:hover
{
	color: #FFF;
}
        
ul.tabs li a
{
    font-family: "Dosis", serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    text-shadow: 1px 1px #000;
    letter-spacing: 1px;
text-transform:uppercase;

        text-decoration: none;

    position: relative;
    margin: 0 15px;

    outline:none;
}
  
        
ul.tabs li a:hover
{
    text-decoration: none;
	color: #FFF;
}



ul.tabs li a::before, ul.tabs li a::after { display: inline-block; opacity: 0;color: #C2BBB1; font-size: 20px; -webkit-transition: -webkit-transform 0.3s, opacity 0.2s; -moz-transition: -moz-transform 0.3s, opacity 0.2s; transition: transform 0.3s, opacity 0.2s; }

ul.tabs li a::before { margin-right: 10px; content: '{'; -webkit-transform: translateX(20px); -moz-transform: translateX(20px); transform: translateX(20px); }

ul.tabs li a::after { margin-left: 10px; content: '}'; -webkit-transform: translateX(-20px); -moz-transform: translateX(-20px); transform: translateX(-20px); }

ul.tabs li a:hover::before, ul.tabs li a:hover::after, ul.tabs li a:focus::before, ul.tabs li a:focus::after { opacity: 1; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); transform: translateX(0px); }





ul.tabs li.selected a
{
    position: relative;
    top: 0px;
	color: #D2BA97;
}

ul.tabs li.selected a:hover
{
	color: #D2BA97;
}
        
        
ul.tabs li.selected a:hover, ul.tabs li.selected a:hover
{
    text-decoration: none;
}

div.tabcontents
{
background: #FFF; background-image: url(img/tekstitausta.png); background-position: top center; background-repeat:no-repeat; padding: 20px 50px 30px 50px; box-shadow: 3px 3px 14px -3px rgba(0,0,0,0.60); border-radius: 10px 10px 0 0;

    text-shadow: none;
    text-align:justify;
}
